{% load static %}
<footer class="bg-success">
    <div class="container">
        <div class="foot-container d-flex justify-content-between align-items-start">
            <div class="foot-logo d-flex align-items-center">
                <img src="{% static 'img/untirta-logo.png' %}" alt="logo" width="100px">
                <p class="foot-title">LAYANAN AKADEMIK<br>UNTIRTA</p>
            </div>
            <div class="foot-right">
                <h3>Contact :</h3>
                <p>Jl. Raya Palka Km 3 Sindangsari, Pabuaran, Kab. Serang Provinsi Banten</p>
                <p>Telp : +62254 3204321</p>
                <p>Fax : +62254 281254</p>
                <p>Email : humas@untirta.ac.id</p>
            </div>
        </div>
    </div>
</footer>