@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

html,
boty {
    font-family: 'Poppins';
}

.container {
    max-width: 1024px;
}

.navbar-brand {
    font-family: 'Poppins';
    color: #fff;
}

.navbar-brand:hover {
    color: #fff;
}

.nav-logo {
    width: 45px;
}

.nav-link {
    font-family: 'Poppins';
    color: black;
    padding: 20px;
    border-radius: 10px;
}

.nav-link:hover {
    background-color: rgb(223, 223, 248);
    font-weight: bold;
    color: #000;
}

.navbar-nav {
    display: flex;
    gap: 10px;
}

.carousel-inner {
    height: 100vh;
}

.carousel-item {
    height: 100%;
}

.carousel-img {
    opacity: 0.8;
}

.carousel-caption {
    background-color: rgba(255, 255, 255, 0.644);
    color: #000;
    border-radius: 10px;
}

main {
    padding-top: 40px;
}

.card {
    border-radius: 0;
    margin-top: 30px;
}

.card-header {
    font-weight: bold;
    color: #fff;
}

footer {
    height: 300px;
    margin-top: 40px;
}

.foot-title {
    font-weight: bold;
    margin-left: 20px;
    color: #fff;
    font-size: x-large;
}

.foot-right {
    width: 320px;
    color: #fff;
}

.foot-container {
    padding-top: 40px;
}

.main-mk {
    height: 100vh;
}

.card {
    margin-top: 100px;
}

.card-img-top {
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
    height: 150px;
}

.table-container {
    padding-left: 50px;
    padding-right: 50px;
}

.card-blog {
    margin-top: 20px;
}